VITE_SUPABASE_URL=https://ttbfzdhyqccwhuksmgag.supabase.co
VITE_SUPABASE_ANON_KEY=sb_publishable_TUpIt9Hzz6da-VnmcHcf1A_4Ib7-HcJ

# SMTP Configuration for Booking Emails
SMTP_HOST=
SMTP_PORT=
SMTP_USER=
SMTP_PASS=
